<%= link_to garden_plant_path(plant) do %>
  <div class="garden-plant float-left">
    <div class="image">
      <%= image_tag plant.photo_url, width: 150, height: 150 %>
    </div>
    <div class="details">
      <h2>
        <%= truncate plant.name, length: 10 %>
        <span class="favorite <%= 'active' if plant.favorite %>">тнР</span>
      </h2>
      <p class="room"><%= plant.room %></p>

      <p class="points">ЁЯТЪ <%= pluralize(plant.care_points, 'dose') %></p>
    </div>
  </div>
<% end %>
