<div class="container page-container">
  <div class="row">
    <div class="col">
      <%= link_to '< back to plants', garden_plants_path  %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm col-md-4">
      <div class="garden-plant">
        <div class="image">
          <%= image_tag @plant.photo_url, width: 200, height: 200 %>
        </div>
        <div class="details">
          <h1><%= @plant.name %></h1>
          <p class="room"><%= @plant.room %></p>
          <ul class="list-unstyled">
            <li><%= pluralize @plant.age_in_months, 'month' %></li>
            <li><%= @plant.size %> size</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="text-right" style="margin-top: 1em">
        <%= link_to 'public page', plant_path(@plant), class: "btn btn-sm btn-outline-info" %>
        <%= link_to 'edit', edit_garden_plant_path(@plant), class: "btn btn-sm btn-outline-primary" %>
        <%= link_to 'remove', garden_plant_path(@plant), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="care-actions text-center">
        <% if @moments.any? %>
          <p class="care-title">You gave <strong><%= number_with_delimiter @plant.care_points, delimiter: " " %> doses</strong> of care 💚</p>
        <% else %>
          <p class="care-title">You haven't taken care of your plant yet.</p>
        <% end %>

        <% @plant.needed_care_moments.each do |code| %>
          <%= render 'garden/care_moments/action', plant: @plant, code: code %>
        <% end %>
      </div>

      <% if @moments.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Action</th>
              <th width=200>Doses of care</th>
            </tr>
          </thead>
          <tbody>
            <% @moments.each_with_index do |moment, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= l(moment.date, format: :short) %></td>
                <td>
                  <span class="care-badge badge badge-<%= @plant.care_moment_action_css_color(moment.code)%> "><%= moment.code %></span>
                </td>
                <td><%= moment.points %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
