<div class="container page-container">
  <div class="row">
    <div class="col">
      <%= link_to '< back to plants', garden_plants_path  %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm col-md-9">
      <div class="garden-plant garden-plant-large">
        <div class="image">
          <%= image_tag @plant.photo_url, width: 200, height: 200 %>
        </div>
        <div class="details">
          <h1>
            <%= @plant.name %>
            <%= render 'favorite_link', plant: @plant %>
          </h1>
          <p class="room"><%= @plant.room %></p>
          <ul class="list-unstyled">
            <li><%= pluralize @plant.age_in_months, 'month' %></li>
            <li><%= @plant.size %> size</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="text-right" style="margin-top: 1em">
        <%= link_to 'public page', plant_path(@plant), class: "btn btn-sm btn-outline-info" %>
        <%= link_to 'edit', edit_garden_plant_path(@plant), class: "btn btn-sm btn-outline-primary" %>
        <%= link_to 'remove', garden_plant_path(@plant), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="care-actions text-center">
        <%= render 'care_overview', plant: @plant %>
        <%= render 'care_action_buttons', plant: @plant, src: :plant %>
      </div>
      <%= render 'care_moments', moments: @moments %>
    </div>
  </div>
</div>
