<div class="container page-container">
  <div class="row">
    <div class="col">
      <%= link_to '< back to plants', garden_plants_path  %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm col-md-4">
      <div class="garden-plant">
        <div class="image">
          <%= image_tag @plant.photo_url, width: 200, height: 200 %>
        </div>
        <div class="details">
          <h1><%= @plant.name %></h1>
          <p class="room"><%= @plant.room %></p>
          <ul class="list-unstyled">
            <li><%= pluralize @plant.age_in_months, 'month' %></li>
            <li><%= @plant.size %> size</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="text-right" style="margin-top: 1em">
        <%= link_to 'public page', plant_path(@plant), class: "btn btn-sm btn-outline-info" %>
        <%= link_to 'edit', edit_garden_plant_path(@plant), class: "btn btn-sm btn-outline-primary" %>
        <%= link_to 'remove', garden_plant_path(@plant), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="care-actions text-center">
        <p class="care-title">
          <% if @moments.any? %>
            You gave <strong><%= format_number @plant.care_points %> doses</strong> of care 💚
          <% else %>
            You haven't taken care of your plant yet.
          <% end %>
        </p>

        <% plant_care_moments_needed(@plant).each do |code| %>
          <%= link_to code, garden_plant_care_moments_path(@plant, code: code), method: :post, class: care_moment_button_css_class(code) %>
        <% end %>
      </div>
      <% if @moments.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Action</th>
              <th width=200>Doses of care</th>
            </tr>
          </thead>
          <tbody>
            <% @moments.each.with_index(1) do |moment, index| %>
              <tr>
                <td><%= index %></td>
                <td><%= l(moment.date, format: :short) %></td>
                <td>
                  <span class="<%= care_moment_badge_css_class(moment.code) %>">
                    <%= moment.code %>
                  </span>
                </td>
                <td><%= moment.points %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
