<div class="container page-container">
  <div class="row">
    <div class="col">
      <h1 class="">Garden</h1>
      <p class="lead">
        Welcome <%= 'back' if @latest_plants.any? %> to your interior garden <%= current_user.nickname %>!
      </p>

      <p class="lead">
        <% if current_user.care_points > 0 %>
          In total, you gave <strong><%= number_with_delimiter current_user.care_points, delimiter: " " %> doses</strong> of care to your plants.
        <% end %>

        <% if current_user.level > 0 %>
          <br>
          Thanks to that, you reached <strong>level <%= current_user.level %></strong> out of <%= @last_level %>.
          <br>
          <strong><%= current_user.points_to_next_level %> doses</strong> of care until next level.
        <% end %>

        <% if current_user.care_points > 0 %>
          <br>
          <%= link_to 'See history', garden_care_moments_path %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col col-lg-8">
      <h2>Care needed</h2>
      <% if @plants_needing_care.empty? %>
        <p>No action needed for now. Well done!</p>
      <% else %>
        <table class="table">
          <thead>
            <tr>
              <th>Plant</th>
              <th></th>
              <th>Care</th>
            </tr>
          </thead>
          <tbody>
            <% @plants_needing_care.each do |plant| %>
              <%= render 'row', plant: plant %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col col-lg-4">
      <h2>Latest plants</h2>
      <% if @latest_plants.empty? %>
        <%= link_to 'New plant', new_garden_plant_path %>
      <% elsif current_user.plants.count > 3 %>
        <%= link_to 'See all plants', garden_plants_path %>
      <% end %>

      <div class="row">
        <div class="col">
          <% @latest_plants.each do |plant| %>
            <%= render 'garden/plants/card', plant: plant %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
