<div class="container page-container">
  <div class="row">
    <div class="col">
      <h1 class="">Garden</h1>
      <p class="lead">
        Welcome <%= 'back' if @latest_plants.any? %> to your interior garden <%= @user.nickname %>!
      </p>

      <%= render 'user_stats', user: @user %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col col-lg-8">
      <h2>Care needed</h2>
      <% if @plants_needing_care.empty? %>
        <p>No action needed for now. Well done!</p>
      <% else %>
        <table class="table">
          <thead>
            <tr>
              <th>Plant</th>
              <th></th>
              <th>Care</th>
            </tr>
          </thead>
          <tbody>
            <% @plants_needing_care.each do |plant| %>
              <tr id="plant-care-needed-<%= plant.id %>">
                <td height=100 width=100>
                  <%= link_to garden_plant_path(plant) do %>
                    <div class="bg-image" style="height: 100%; background-image: url('<%= plant.photo_url %>')" >
                    </div>
                  <% end %>
                </td>
                <td class="align-middle"><%= link_to plant.name, garden_plant_path(plant) %></td>
                <td class="align-middle">
                  <%= render 'garden/plants/care_action_buttons', plant: plant, src: :dashboard %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col col-lg-4">
      <h2>Latest plants</h2>
      <% if @latest_plants.empty? %>
        <%= link_to 'New plant', new_garden_plant_path %>
      <% elsif @user.plants.count > 3 %>
        <%= link_to 'See all plants', garden_plants_path %>
      <% end %>

      <div class="row">
        <div class="col">
          <% @latest_plants.each do |plant| %>
            <%= render 'components/garden_plant', plant: plant %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
