<div class="container page-container">
  <div class="row">
    <div class="col bg-image plant-cover" style="background-image: url('<%= @plant.photo_url %>')">
    </div>
    <div class="col plant-identity">
      <h1>My name is <strong><%= @plant.name %></strong></h1>
      <span class="plant-gardener">owned by <%= @plant.user.nickname %></span>

      <div class="plant-details">
        <p>
          I'm <strong> <%= pluralize @plant.age_in_months, 'month' %></strong> old,
          I'm <strong><%= human_plant_size(@plant) %></strong>
          and you can find me in the <strong><%= @plant.room %></strong>.
        </p>
        <p>
          Oh and my gardener takes extra care of me. I already received <strong><%= format_number @plant.care_points %> doses</strong> of care 💚
        </p>
      </div>
    </div>
  </div>

  <div class="gardener-other-plants">
    <div class="row">
      <div class="col">
        <h2 class="text-center"><%= @plant.user.nickname %>'s other plants</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <% @gardener_other_plants.each do |plant| %>
        <%= render 'components/plant', plant: plant %>
      <% end %>
      </div>
    </div>
  </div>
</div>
